# Compiled class files
target/

# Logs
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# KRITIK: AWS kimlik bilgilerini ve şifreyi asla versiyona ekleme!
src/main/resources/application.properties
